<dx-form labelMode="outside">
  <dxi-item itemType="group" caption="Filter Appointments">
    <dxi-item editorType="dxTextBox" [editorOptions]="filterInputOptions">
      <dxo-form-label text="Text"></dxo-form-label>
    </dxi-item>
    <dxi-item editorType="dxDateBox" [editorOptions]="startDateOptions">
      <dxo-form-label text="Start Date"></dxo-form-label>
    </dxi-item>
    <dxi-item editorType="dxDateBox" [editorOptions]="endDateOptions">
      <dxo-form-label text="End Date"></dxo-form-label>
    </dxi-item>
  </dxi-item>
</dx-form>
