<dx-data-grid
  [dataSource]="tasksStore"
  [remoteOperations]="true"
  [height]="480"
>
  <dxo-row-dragging
    [allowReordering]="true"
    [onDragStart]="dragStart"
    [onDragChange]="dragChange"
    [onReorder]="reorder"
    dragTemplate="dragTemplate"
  ></dxo-row-dragging>
  <div *dxTemplate="let dragData of 'dragTemplate'" class="drag-container">
    <div *ngFor="let rowData of dragData.itemData">
      <tr class="dragged-item">
        <td *ngFor="let cellValue of rowData | keyvalue : originalOrder">
          {{ cellValue.value }}
        </td>
      </tr>
    </div>
  </div>
  <dxo-selection mode="multiple"></dxo-selection>
  <dxo-sorting mode="none"></dxo-sorting>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxi-column dataField="ID" [width]="55"></dxi-column>
  <dxi-column dataField="Owner" [width]="150">
    <dxo-lookup
      [dataSource]="employeesStore"
      valueExpr="ID"
      displayExpr="FullName"
    ></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="AssignedEmployee" [width]="150" caption="Assignee">
    <dxo-lookup
      [dataSource]="employeesStore"
      valueExpr="ID"
      displayExpr="FullName"
    ></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="Subject"></dxi-column>
</dx-data-grid>
